<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Tuneify API</title>
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <div>
        <div>
            <span>You have reached the Tuneify API!</span>
        </div>
        <div>
            <input type="button" onclick="getConfirmation()" value="Check">
        </div>
        <div>
            <span id="confirmation"></span>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>